[Unit]
Description=Run DNS Healthcheck every 5 minutes

[Timer]
OnBootSec=60s
OnUnitActiveSec=300s
Unit=ai-quant-dns-healthcheck.service

[Install]
WantedBy=timers.target
